---
import Header from '~/components/widgets/Header.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="mb-300">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam
      tempore modi esse quibusdam deleniti minus sapiente possimus eligendi
      dolores eaque incidunt eius, sit accusamus ipsum laboriosam provident
      cumque distinctio?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam
      tempore modi esse quibusdam deleniti minus sapiente possimus eligendi
      dolores eaque incidunt eius, sit accusamus ipsum laboriosam provident
      cumque distinctio?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam
      tempore modi esse quibusdam deleniti minus sapiente possimus eligendi
      dolores eaque incidunt eius, sit accusamus ipsum laboriosam provident
      cumque distinctio?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam
      tempore modi esse quibusdam deleniti minus sapiente possimus eligendi
      dolores eaque incidunt eius, sit accusamus ipsum laboriosam provident
      cumque distinctio?
    </p>
  </main>
</Layout>
