.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h3 {
    margin: 0;
  }

  section {
    padding: 20px 30px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    transition: background-color 0.5s;
  }
}

.parent {
  border-color: #49ff00;

  &:hover {
    background-color: rgba($color: #49ff00, $alpha: 0.1);
  }
}

.child {
  border-color: #b983ff;

  &:hover {
    background-color: rgba($color: #b983ff, $alpha: 0.1);
  }
}
