@mixin box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.parent {
  @include box;

  border: 3px solid cyan;
}

.child {
  @include box;

  border: 3px solid red;
}
